<%- include('partials/_nav') %>
  <body>
    <header class="banner" id="banner">
      <!-- <div></div> -->
      <img
        src="https://i.pinimg.com/originals/22/05/a1/2205a138a839c5b6c60590855ee4a396.jpg"
      />
    </header>
  </body>
  <footer id="footer">
    <div class="container px-5">
      <p class="m-0 text-center text-white small">Copyright © Garden Café</p>
      <p class="m-0 text-center text-white small">P: 834-938-5555</p>
      <p class="m-0 text-center text-white small">25 Lighthouse Ave</p>
      <P class="m-0 text-center text-white small">Toronto, Ontario X6A 6G7</P>
    </div>
  </footer>
</html>
