label {
  .viewOrder {
    width: 100vw;
  }

  .order-quantity-price {
    display: flex;
  }

  .order-number {
    margin-right: 73vw;
  }

  .quantity-price {
    display: flex;
  }

  .quantity-price p {
    margin-right: 90px;
  }
}
